@import '../../styles/mixins.scss';

.container {
    @include line-height;
    display: flex;
    flex-direction: column;
}

.searchBar {
    width: 80%;

    border-width: 1px;
    border-color: var(--primary-color);
    border-style: solid;
    border-radius: 9999px;

    padding: 0.5rem;

    background-color: transparent;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: var(--primary-color);
    }
}

.error {
    font-size: 0.7rem;
    padding-left: 0.5rem;
}
