.searchBar {
    width: 80%;

    border-width: 1px;
    border-color: var(--primary-color);
    border-style: solid;
    border-radius: 9999px;

    padding: 0.5rem;

    background-color: transparent;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: var(--primary-color);
    }
}
