.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    padding: 0.5rem;

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
}

.section {
    overflow-y: scroll;
}
