:root {
    --primary-color: black;
    --background-color: white;
}

* {
    font-weight: 300;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    color: var(--primary-color);
}

body {
    background-color: var(--background-color);

    margin: 0 0 0 0;
}

#root {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    padding: 0 0.5rem;

    @media (min-width: 768px) {
        flex-direction: row;

        height: 100vh;
    }
}

// Global resets

button {
    border: none;
    background: none;
    cursor: pointer;
}
