// Root setup

:root {
    &.light {
        --primary-color: black;
        --background-color: white;
    }

    &.dark {
        --primary-color: white;
        --background-color: black;
    }

    --header-size: 4rem;
    --row-spacing: calc(0.075 * var(--header-size)) 0;
    --line-height: 1.2;

    @media (min-width: 1400px) {
        --header-size: 6rem;
        --row-spacing: calc(0.075 * var(--header-size)) 0;
    }
}

* {
    font-weight: 300;
    font-size: 25px;
    font-family: Helvetica, sans-serif;
    color: var(--primary-color);

    transition-property: color, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

body {
    background-color: var(--background-color);

    margin: 0 0 0 0;
}

// Global resets

button {
    border: none;
    background: none;
    cursor: pointer;
}

ul {
    padding: 0;
    list-style: none;
}

// Global styles

h2 {
    display: inline-block;
    font-size: 2rem;
    height: fit-content;
    margin: 0 0 0 0;
}

h3 {
    margin: 0 0 0 0;
}
